<% content_for :top_content do %>
  <div class="center jumbotron">
    <h1>Welcome to AlexaRank!</h1>
    <div class="container">
      <% if user_signed_in? %>
        <% if @rank %>
          <h3>Latest rank of <i>example.com</i> : <%= @rank %></h3>
          <%= high_chart_globals(@chart_globals) %>
          <%= high_chart("rank_graph", @chart) %>
        <% end %>
        <%= render 'alexa_ranks/form' %>
        <div class="result"></div>
      <% else %>
        <h2>Register to get started.</h2>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      <% end %>      
    </div>

  </div>
<% end %>

