<div class="container">

  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Rank</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% @domain_data.domains.each do |domain| %>
        <tr>
          <td scope="row"><b><i><%= domain.name %></i></b></td>
          <td><b><%= domain.ranks.last.rank %></b></td>
          <td><b><%= domain.ranks.last.date %></b></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="rank_graph"></div>
  <div class="row">
    
      <% if !quota_reached? %>
        <div class="col-xs-4 col-sm-3 col-lg-2">
          <%= link_to "New Domain", root_path, class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <h4>You have reached the limit of 3 domains/user</h4>
        </div>
      <% end %>
    
  </div>
</div>



<script>
  $(function(){
    var grph_var = Highcharts.chart('rank_graph', {
        title: {
            text: 'Alexa Ranks Comparison',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: Alexa.com',
            x: -20
        },
        xAxis: {
            type: "category",
            title: {
            text: 'Dates'
          }
        },
        yAxis: {
            title: {
                text: 'Alexa Rank',
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            reversed: true,
        },
        tooltip: {
            valuePrefix: 'Rank:',
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
          <% @domain_data.domains.each do |domain| %>
            { 
              name: "<%= domain.name.sub(/^https?\:\/\//, '') %>",
              data: <%= raw (domain.ranks.limit(10)).map { |rank| [rank.date.strftime('%Y-%m-%d'), rank.rank.gsub(/,/,'').to_i]}.inspect %>
            },
          <% end %>
        ]
    });    
  });
</script>
